{{Content}}

<div class="row">
	<div class="col_12">
        <ul class='tabs'>
            <li class="tab-link current" data-tab="main">Basics</li>
            <li class="tab-link" data-tab="equipment">Equipment</li>
            <li class="tab-link" data-tab="description">Description</li>
        </ul>
        <form id="createCharacter" method="POST" target="_self">
		<div id='main' class='tab-content current'>
			<h4>Basics</h4>
			{% include ViewBasics %}
		</div>
        <div id='equipment' class='tab-content'>
			<h4>Equipment</h4>
            {% include ViewEquip %}
		</div>
         <div id='description' class='tab-content'>
			<h4>Background Details</h4>
             {% include ViewDescrip %}
		</div>
        </form>
    </div>
</div>