<div class="row">
    <div class="col_2">
        <h5>Background:</h5>
        Your background allows you to start with:
    </div>
    <div class="col_10">
        <div visibly="Background:1">
            <ol>
                <li>A holy symbol (a gift to you when you entered the priesthood)</li>
                <li>a prayer book or prayer wheel</li>
                <li>5 sticks of incense</li>
                <li>vestments</li>
                <li>a set of common clothes</li>
                <li>a belt pouch containing 15 gp</li>
            </ol>
        </div>
        
        <div visibly="Background:2">
            <ol>
                <li>A crowbar</li>
                <li>a set of dark common clothes including a hood</li>
                <li>a belt pouch containing 15 gp</li>
            </ol>
        </div>
        
        <div visibly="Background:3">
            <ol>
                <li>A set of artisan's tools (one of your choice)</li>
                <li>A shovel</li>
                <li>An iron pot</li>
                <li>a set of common clothes</li>
                <li>a belt pouch containing 10 gp</li>
            </ol>
        </div>
    </div>
</div>