<div class="row">
    <div class="col_2">
        <h5>Background:</h5>
        Your background allows you to start with:
    </div>
    <div class="col_10">
        <div visibly="Background:1">
            <ol>
                <li>A holy symbol (a gift to you when you entered the priesthood)</li>
                <li>a prayer book or prayer wheel</li>
                <li>5 sticks of incense</li>
                <li>vestments</li>
                <li>a set of common clothes</li>
                <li>a belt pouch containing 15 gp</li>
            </ol>
        </div>

        <div visibly="Background:2">
            <ol>
                <li>a crowbar</li>
                <li>a set of dark common clothes including a hood</li>
                <li>a belt pouch containing 15 gp</li>
            </ol>
        </div>

        <div visibly="Background:3">
            <ol>
                <li>a set of artisan's tools (one of your choice)</li>
                <li>a shovel</li>
                <li>an iron pot</li>
                <li>a set of common clothes</li>
                <li>a belt pouch containing 10 gp</li>
            </ol>
        </div>

        <div visibly="Background:4">
            <ol>
                <li>a set of fine clothes</li>
                <li>a signet ring.</li>
                <li>a scroll of pedigree</li>
                <li>a purse contain 25 gp</li>
            </ol>
        </div>

        <div visibly="Background:5">
            <ol>
                <li>a Bottle of black ink</li>
                <li>a quill</li>
                <li>a letter from a dead colleage</li>
                <li>a set of common clothes</li>
                <li>a pouch contain 10 gp</li>
            </ol>
        </div>

        <div visibly="Background:6">
            <ol>
                <li>an insignia of rank</li>
                <li>a trophy take from a fallen enemy</li>
                <li>a game set you are proficient in</li>
                <li>a set of common clothes</li>
                <li>a pouch contain 10 gp</li>
            </ol>
        </div>

        <div visibly="Background:7">
            <ol>
                <li>a set of fine clothes</li>
                <li>a disguise kit</li>
                <li>tools of the con of your choice</li>
                <li>a belt pouch containing 15 gp</li>
            </ol>
        </div>

        <div visibly="Background:8">
            <ol>
                <li>a musical instrument (one of your choice)</li>
                <li>the favor of an admirer</li>
                <li>a costume</li>
                <li>a belt pouch containing 15 gp</li>
            </ol>
        </div>

        <div visibly="Background:9">
            <ol>
                <li>A set of artisan tools (one of your choice)</li>
                <li>the favor of an admirer</li>
                <li>a costume</li>
                <li>a belt pouch containing 15 gp</li>
            </ol>
        </div>

        <div visibly="Background:10">
            <ol>
                <li>a scroll case stuffed full of notes</li>
                <li>a winter blanket</li>
                <li>a set of common clothes</li>
                <li>an herbalism kit, and 5 gp</li>
            </ol>
        </div>

        <div visibly="Background:11">
            <ol>
                <li>a staff</li>
                <li>a hunting trap</li>
                <li>a trophy from an animal you killed</li>
                <li>a set of traveler's clothes</li>
                <li>a belt pouch contain 10 gp</li>
            </ol>
        </div>

        <div visibly="Background:12">
            <ol>
                <li>a belaying pin(club)</li>
                <li>50 feet of silk rope</li>
                <li>a lucky charm (your choice)</li>
                <li>a set of common clothes</li>
                <li>a belt pouch contain 10 gp</li>
            </ol>
        </div>

        <div visibly="Background:13">
            <ol>
                <li>a small knife</li>
                <li>a map of the city you grew up in</li>
                <li>a pet mouse</li>
                <li>a token to remember your parents by</li>
                <li>a set of common clothes</li>
                <li>a belt pouch contain 10 gp</li>
            </ol>
        </div>
    </div>
</div>
