<div class="row">
    <div class="col_3 preview">
        <img src="functions/dnd/dnd.images.php" width="100%" />
    </div>
    <div class="col_9">
         <div class="row">
            <div class="col_3"><h6>Skin Color</h6></div>
             <div class="col_3"><h6>Eye Color</h6></div>
             <div class="col_3"><h6>Hair Color</h6></div>
        </div>
        
        <div class="row">
            <div class="col_3"><input id='SkinColor' name='SkinColor' class='jscolor' value='#B38F5D'></div>
            <div class="col_3"><input id='EyeColor' name='EyeColor' class='jscolor' value='#0000aa'></div>
            <div class="col_3"><input id='HairColor' name='HairColor' class='jscolor' value='#61451D'></div>
        </div>
        <div class="row">
            <div class="col_12"><h6>Character Biography</h6></div>
            <div class="col_12"><textarea name="biography"></textarea></div>
        </div>
    </div>
</div>