 <div class="row">
                <div class='col_4'>Points to Spend:</div>
                <div class="col_1 pointsToSpend"></div>
                <div class="col_7 pointsMax"></div>
            </div>
            <div class="row">
                <div class='row'>
                    <div class="col_1">Stat</div>
                    <div class="col_4"></div>
                    <div class="col_1">Mod</div>
                    <div class="col_1">Cost</div>
                    <div class="col_1">Total</div>
                </div>
                <div id="point-buy-table" class="character-creation">
                    <div class="row stats Str">
                        <div class="col_1">Str</div>
                        <div class="col_4">
                            <input type='button' value='-' class='qtyminus' field='Str' />
                            <input type='text' name='Str' value='8' class='qty' disabled />
                            <input type='button' value='+' class='qtyplus' field='Str' />
                        </div>
                        <div class="col_1"><input type='text' name='Str-modifier' value='-1' disabled /></div>
                        <div class="col_1"><input type='text' name='Str-cost' value='0' disabled /></div>
                        <div class="col_1"><input type='text' name='Str-total' value='0' disabled /></div>
                    </div>
                    <div class="row stats Dex">
                        <div class="col_1">Dex</div>
                        <div class="col_4">
                            <input type='button' value='-' class='qtyminus' field='Dex' />
                            <input type='text' name='Dex' value='8' class='qty' disabled />
                            <input type='button' value='+' class='qtyplus' field='Dex' />
                        </div>
                        <div class="col_1"><input type='text' name='Dex-modifier' value='-1' disabled /></div>
                        <div class="col_1"><input type='text' name='Dex-cost' value='0' disabled /></div>
                        <div class="col_1"><input type='text' name='Dex-total' value='0' disabled /></div>
                    </div>
                    <div class="row stats Con">
                        <div class="col_1">Con</div>
                        <div class="col_4">
                            <input type='button' value='-' class='qtyminus' field='Con' />
                            <input type='text' name='Con' value='8' class='qty' disabled />
                            <input type='button' value='+' class='qtyplus' field='Con' />
                        </div>
                        <div class="col_1"><input type='text' name='Con-modifier' value='-1' disabled /></div>
                        <div class="col_1"><input type='text' name='Con-cost' value='0' disabled /></div>
                        <div class="col_1"><input type='text' name='Con-total' value='0' disabled /></div>
                    </div>
                    <div class="row stats Int">
                        <div class="col_1">Int</div>
                        <div class="col_4">
                            <input type='button' value='-' class='qtyminus' field='Int' />
                            <input type='text' name='Int' value='8' class='qty' disabled />
                            <input type='button' value='+' class='qtyplus' field='Int' />
                        </div>
                        <div class="col_1"><input type='text' name='Int-modifier' value='-1' disabled /></div>
                        <div class="col_1"><input type='text' name='Int-cost' value='0' disabled /></div>
                        <div class="col_1"><input type='text' name='Int-total' value='0' disabled /></div>
                    </div>
                    <div class="row stats Wis">
                        <div class="col_1">Wis</div>
                        <div class="col_4">
                            <input type='button' value='-' class='qtyminus' field='Wis' />
                            <input type='text' name='Wis' value='8' class='qty' disabled />
                            <input type='button' value='+' class='qtyplus' field='Wis' />
                        </div>
                        <div class="col_1"><input type='text' name='Wis-modifier' value='-1' disabled /></div>
                        <div class="col_1"><input type='text' name='Wis-cost' value='0' disabled /></div>
                        <div class="col_1"><input type='text' name='Wis-total' value='0' disabled /></div>
                    </div>
                    <div class="row stats Cha">
                        <div class="col_1">Cha</div>
                        <div class="col_4">
                            <input type='button' value='-' class='qtyminus' field='Cha' />
                            <input type='text' name='Cha' value='8' class='qty' disabled />
                            <input type='button' value='+' class='qtyplus' field='Cha' />
                        </div>
                        <div class="col_1"><input type='text' name='Cha-modifier' value='-1' disabled /></div>
                        <div class="col_1"><input type='text' name='Cha-cost' value='0' disabled /></div>
                        <div class="col_1"><input type='text' name='Cha-total' value='0' disabled /></div>
                    </div>
                </div>
            </div>