<select id="level">
    <option value="level0">Cantrips</option>
    <option value="level1">Level 1</option>
    <option value="level2">Level 2</option>
    <option value="level3">Level 3</option>
    <option value="level4">Level 4</option>
    <option value="level5">Level 5</option>
    <option value="level6">Level 6</option>
    <option value="level7">Level 7</option>
    <option value="level8">Level 8</option>
    <option value="level9">Level 9</option>
</select>
{% for Level in Level0 %}
        <div class="row" visibly="level:level0">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}

{% for Level in Level1 %}
        <div class="row" visibly="level:level1">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}

{% for Level in Level2 %}
        <div class="row" visibly="level:level2">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}

{% for Level in Level3 %}
        <div class="row" visibly="level:level3">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}

{% for Level in Level4 %}
        <div class="row" visibly="level:level4">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}

{% for Level in Level5 %}
        <div class="row" visibly="level:level5">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}

{% for Level in Level6 %}
        <div class="row" visibly="level:level6">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}

{% for Level in Level7 %}
        <div class="row" visibly="level:level7">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}

{% for Level in Level8 %}
        <div class="row" visibly="level:level8">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}

{% for Level in Level9 %}
        <div class="row" visibly="level:level9">
            <h4>{{Level.Name}}</h4>
            <div class="row">
                <div class="col_3"><h6>Range</h6></div>
                <div class="col_9">{{Level.CastRange}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Duration</h6></div>
                <div class="col_9">{{Level.Duration}}</div>
            </div>
            <div class="row">
                <div class="col_3"><h6>Cast Time</h6></div>
                <div class="col_9">{{Level.CastTime}}</div>
            </div>
            <h5>Description</h5>
            <div class="row"><div class="col_12">{{Level.Description|raw}}</div></div>
        </div>
<br />{% endfor %}