<div class="row">
    <div class="col_2"><h6>Name</h6></div>
    <div class="col_1"><h6>Version</h6></div>
    <div class="col_2"><h6>Author/Link</h6></div>
    <div class="col_7"><h6>Description</h6></div>
</div>
<h5>General</h5>
<div class="row">
    <div class="col_2">CMS Backend</div>
    <div class="col_1">1.0</div>
    <div class="col_2">Imrielle</div>
    <div class="col_7">PHP, HTML, CSS, SQL and JS used to view the site.</div>
</div>
<div class="row">
    <div class="col_2">Fontello</div>
    <div class="col_1">Varies</div>
    <div class="col_2"><a href="http://fontello.com/" target="_blank">Link</a></div>
    <div class="col_7">Selective font icons used in various places.</div>
</div>
<h5>Technologies</h5>
<div class="row">
    <div class="col_2">jQuery</div>
    <div class="col_1">2.2.4</div>
    <div class="col_2"><a href="http://jquery.com" target="_blank">Link</a></div>
    <div class="col_7">Javascript library</div>
</div>
<div class="row">
    <div class="col_2">Twig</div>
    <div class="col_1">2.4.4</div>
    <div class="col_2"><a href="https://twig.symfony.com/doc/2.x/" target="_blank">Link</a></div>
    <div class="col_7">Templating engine</div>
</div>
<div class="row">
    <div class="col_2"></div>
    <div class="col_1"></div>
    <div class="col_2"><a href="" target="_blank">Link</a></div>
    <div class="col_7"></div>
</div>
<div class="row">
    <div class="col_2"></div>
    <div class="col_1"></div>
    <div class="col_2"><a href="" target="_blank">Link</a></div>
    <div class="col_7"></div>
</div>