<h1>{{Page}}{{SubPage}}</h1>
{{Content}}
<h2>Headers</h2>
    <div class="row">
        <div class="col_2"><h1>H1</h1></div>
        <div class="col_2"><h2>H2</h2></div>
        <div class="col_2"><h3>H3</h3></div>
        <div class="col_2"><h4>H4</h4></div>
        <div class="col_2"><h5>H5</h5></div>
        <div class="col_2"><h6>H6</h6></div>
    </div>
<h2>Form / Inputs</h2>
<form>
    <fieldset>
        <legend>Fieldset / Legend</legend>
        <input type="text" value="Text">
        <br /><input type="text" value="Disabled" disabled>
        <br /><textarea>Textarea</textarea>
        <br /><select><option>Select 1</option><option>Select 2</option></select>
        <br />Checkbox
        <br /><input type="checkbox" id="checkbox">Check 1 <input type="checkbox" id="checkbox">Check 2
        <br />Radio
        <br /><input type="radio" id="radio" name="radio" value="Yes"> Yes <input type="radio" id="radio" name="radio" value="No"> No
        <br />Buttons
        <br /><input type="submit" value="Submit"> <input type="reset" value="Reset"> <button>Button</button>
    </fieldset>
</form>
<h2>Grid</h2>
    <div class="row">
        <div class="col_1">col_1 1</div>
        <div class="col_1">2</div>
        <div class="col_1">3</div>
        <div class="col_1">4</div>
        <div class="col_1">5</div>
        <div class="col_1">6</div>
        <div class="col_1">7</div>
        <div class="col_1">8</div>
        <div class="col_1">9</div>
        <div class="col_1">10</div>
        <div class="col_1">11</div>
        <div class="col_1">12</div>
    </div>
    <div class="row">
        <div class="col_2">col_2 1</div>
        <div class="col_2">2</div>
        <div class="col_2">3</div>
        <div class="col_2">4</div>
        <div class="col_2">5</div>
        <div class="col_2">6</div>
    </div>
    <div class="row">
        <div class="col_3">col_3 1</div>
        <div class="col_3">2</div>
        <div class="col_3">3</div>
        <div class="col_3">4</div>
    </div>
    <div class="row">
        <div class="col_4">col_4 1</div>
        <div class="col_4">2</div>
        <div class="col_4">3</div>
    </div>
    <div class="row">
        <div class="col_5">col_5 1</div>
        <div class="col_5">2</div>
        <div class="col_2">3</div>
    </div>
    <div class="row">
        <div class="col_6">col_6 1</div>
        <div class="col_6">2</div>
    </div>