<div id="SkillList">
    <h6>Skills</h6>
    <ul>
        {% for Skill in Skills %}
        <li>
            <label class="control control--checkbox">{{Skill.Name}} ({{Skill.AbilScore}})
                <input name="{{Skill.Name}}-save-prof" type="checkbox" {% if Skill.ID == 7 or Skill.ID == 15 %}checked{% endif %}  } />
                <div class="control__indicator"></div>
            </label>
            <input name="{{Skill.AbilScore}}-modifier" type="text" value="{{Char.Stats[Skill.AbilScore]['Mod']}}" disabled />
        </li>
        {% endfor %}
    </ul>
</div>
