<div class="row">
    <div class="col_12">
        <input id="CharName" name="CharName" type="text" value="{{Char.Name}}" readonly />
        <label for="CharName">Character Name</label>
    </div>
</div>
<div class="row">
    <div class="col_12">
        <input id="Surname" name="Surname" type="text" value="{{Char.Surname}}" readonly />
        <label for="Surname">Character Surname</label>
    </div>
</div>
<div class="row">
    <div class="col_4">
        <input id="Class" name="Class" type="text" value="{{Char.Class}}" readonly />
        <label for="Class">Class</label>
    </div>
    <div class="col_4">
        <input id="Background" name="Background" type="text" value="{{Char.Background}}" readonly />
        <label for="background">Background</label>
    </div>
    <div class="col_4">
        <input type="text" value="{{Char.Owner}}" readonly>
        <label for="Owner">Player Name</label>
    </div>
</div>
<div class="row">
    <div class="col_4">
        <input id="Race" name="Race" type="text" value="{{Char.Race}}" readonly />
        <label for="Race">Race</label>
    </div>
    <div class="col_4">
        <input id="Alignment" name="Alignment" type="text" value="{{Char.Alignment}}" readonly />
        <label for="alignment">Alignment</label>
    </div>
    <div class="col_4">
        <input id="Gender" name="Gender" type="text" value="{{Char.Gender}}" readonly />
        <label for="Gender">Gender</label>
    </div>
</div>
